<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.charleymot.dao.WishMapper">
    <resultMap id="BaseResultMap" type="com.charleymot.entity.Wish">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="createdate" property="createdate" jdbcType="TIMESTAMP"/>
        <result column="isrealized" property="isrealized" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, description, createdate, isrealized
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from WISH
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getPageWish" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from WISH ORDER BY createdate
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from WISH
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.charleymot.entity.Wish">
    insert into WISH (id, name, description,
      createdate, isrealized)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{createdate,jdbcType=TIMESTAMP}, #{isrealized,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.charleymot.entity.Wish">
        insert into WISH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
            <if test="isrealized != null">
                isrealized,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="isrealized != null">
                #{isrealized,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.charleymot.entity.Wish">
        update WISH
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                createdate = #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="isrealized != null">
                isrealized = #{isrealized,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.charleymot.entity.Wish">
    update WISH
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      isrealized = #{isrealized,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>